@use '../abstracts' as *;


.hero {
  width: 100%;
  margin-bottom: 40px;
  font-family: $primary-font;
  @include breakpoint(tablethorizontal) {
    margin-bottom: 70px;
  }

  &__title {
    font-size: 40px;
    line-height: 1.6em;
    margin: 0;
    margin-bottom: 16px;
    color: $dark-blue;
    font-weight: 800;

  }

  &__subtitle{
    width: 100%;
    font-weight: 500;
    font-size: 19px;
    margin: 0;
    margin-bottom: 28px;
    color: $grey;
}

  &__img {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    position: relative;
    margin-top: 20px;
    z-index: 10;
    @include breakpoint (tablet) {
      width: 50%;
      margin: 0;
    }
    @include breakpoint(tablethorizontal) {
      height: 500px;
    }
    @include breakpoint(desktop) {
      width: 400px;
    }
  }

  &__img-mobile {
    @include breakpoint (tablet) {
      display: none;
    }

  }

  &__number {
    display: inline-block;
    width: max-content;
    background-color: white;
    color: $dark-blue;
    padding: 5px;
    gap: 10px;
    text-align: left;
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 5px 10px #ccc;
    span {
      display: block;
    }
  }

  &__number-title {
    font-size: 14px;
    color: $grey;
    }

  &__number-number {
    color: $dark-blue;
    font-size: 32px;
    font-weight: 700;
    }

  &__number-1 {
    padding: 16px 20px 16px 20px;
    top: 0;
    right: 0;
    position: absolute;
    @include breakpoint (tablet) {
      right: 10px;
      top: -60px;
    }
    @include breakpoint(tablethorizontal) {
      top: 10px;
      right: 120px;
    }
  }
  

  &__number-2 {
    padding: 16px 45px 16px 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    @include breakpoint (tablet) {
      bottom: -20px;
      left: 30px;
    }
    @include breakpoint(tablethorizontal) {
      bottom: 62px;
      left: 40px;
    }
      @include breakpoint(desktop) {
      bottom: 62px;
      left: -45px;
    }
  }


  .container {
    padding-top: 60px;
    @include breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
    }
    @include breakpoint(tablethorizontal) {
      padding-bottom: 0px;
      padding-top: 0px;
      align-items: center;
    }
  }


  &__content {
    @include breakpoint(tablet) {
    width: 75%;
    }
    @include breakpoint(tablethorizontal) {
      width: 40%;

    }
    @include breakpoint(desktop) {
      max-width: 460px;
    }


  }
}